.claimBtn {
  background-color: #0d1f2f;
  /* width: 130px; */
  height: 34px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 18px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 10px;
  margin-right: 10px;
}
.claimBtn:hover {
  background-color: #15324a;
  transition-duration: 0.2s;
  transition: 0.2s ease-in-out;
}
.claimBtn:disabled {
  background-color: #505050;
}
